---
layout: index.njk
---
{% macro img( alt="Image", file_extension=".png" ) %}
<img src="/assets/img/{{ tags }}/{{ page.fileSlug }}{{ file_extension }}" alt="{{ alt }}">
{% endmacro %}

<article>

{{ img("Cover Image") }}

{{ content | safe }}

{{ img("Result Image", "-result.png") }}

</article>