---
layout: index.njk
---

<article>

<img src="/assets/img/{{ tags }}/{{ page.fileSlug }}.png" alt="Cover Image">

{{ content | safe }}

<img src="/assets/img/{{ tags }}/{{ page.fileSlug }}-result.png" alt="Result Image">

</article>