---
layout: index.njk
---
<article>
<ul class="timeline">
{% for page in collections.timeline %}
    <a href="{{ page.url }}"><li data-year="{{ page.data.op_date }}" data-text="{{ page.data.title }}"></li></a>
{%- endfor %}
</ul>
</article>

<article>

<h3> {{ title }} </h1>
<h3> c. {{ op_date }} | {{ real_date }} </h2>
{% if cover_img -%}
<img src="/assets/img/{{ cover_img }}" alt="Operation Cover Image">
{%- endif %}
    {{ content | safe }}
</article>

<article>
    <h2> {{title}} Documents </h2>
    <a href='/maps/maps-isla-duala'>Maps</a><br>
    <a href='/briefs/'>Briefs</a><br>
    <a href='/media/'>Media</a><br>
</article>