---
layout: index.njk
---
<article>

{% include "_timeline.njk" %}

</article>

<article>

<h3> {{ title }} </h3>
<h3> c. {{ op_date }} | {{ real_date }} </h3>
{% if cover_img -%}
<img src="/assets/img/{{ cover_img }}" alt="{{ title }} Cover Image">
{%- endif %}

{{ content | safe }}

</article>

<article>
    {% include "_tags.njk" %}
</article>